<div id="<%= dom_id model %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= model.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Waist:</strong>
    <%= model.waist %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shoulder:</strong>
    <%= model.shoulder %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chest:</strong>
    <%= model.chest %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Length:</strong>
    <%= model.length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hip:</strong>
    <%= model.hip %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= model.product.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this model", model, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this model', edit_model_path(model), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
