<header id="home" class="sticky top-0 z-50">
  <div class="h-auto flex justify-center items-center mx-auto flex-col">
    <div class="bg-white w-full">
      <nav class="border-gray-200 px-2 sm:px-4 py-2.5">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <h3 class="text-2xl font-medium text-black animate-pulse">
              <%= link_to 'Norecture', home_path%>
            </h3>
          <div class="flex md:order-2">

              <%= link_to store_path ,class: "flex   justify-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>

                <svg
                  aria-hidden="true"
                  class="mr-2 -ml-1 w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                  ></path>
                </svg>
                <span>Store</span>
              <% end %>
            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
              <li>
                <a href="#home" class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" aria-current="page">Home</a
                >
              </li>
              <li>
                <a
                  href="#products"
                  class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                >Products</a
                >
              </li>
              <li>
                <a
                  href="#about"
                  class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                >About</a
                >
              </li>
              <li>
                <a
                  href="#contact"
                  class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
                >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>




  </div>
</header>

<section>
  <div id="default-carousel" class="relative w-full h-auto mt-0" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 md:h-[400px] lg:h-[500px] xl:h-screen">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <span class="absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800">First Slide</span
                    >
        <%= image_tag("https://vegadergi.com.tr/wp-content/uploads/2022/01/Gucci-e1642493982929.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
      </div>
      <!-- Item 2 -->

      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <%= image_tag("https://www.kampustenevar.com/upload/ALISVERI_-_Varolus_Hikayesi__Gucci_64269.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>

      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <%= image_tag("https://media.gq.com/photos/5f7b495f42eaff594a28939a/master/pass/1-gucci-gets-into-the-resale-game-with-the-real-real-gq-october-2020.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>

      </div>
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"
      ></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                ></path>
              </svg>
              <span class="sr-only">Previous</span>
                    </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
    </button>
  </div>
</section>

<div class="parallax h-36 sm:h-48 md:h-56 xl:h-96 bg-fixed bg-center bg-no-repeat bg-cover bg-[url('https://previews.123rf.com/images/tverdohlib/tverdohlib1507/tverdohlib150700142/42333561-sweet-thoughtful-slender-woman-outdoor-in-summer-clothes-in-park-on-green-natural-background-horizon.jpg')]"></div>


<section id="products">
  <div class="grid md:grid-cols-2 flex justify-items-center px-16 mt-8 mb-16">
    <div class="relative">
      <%= link_to 'Men' , store_path(:gender => 'men'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300" %>
      <div class="flex flex-wrap content-center relative">
        <%= link_to image_tag("https://beyyoglu.akinoncdn.com/products/2022/01/27/28830/e846532b-2d09-4214-a1e8-58e89af8fccb_size826x1222.jpg", :class => "w-[600px]"), store_path(:gender => 'men') %>
      </div>

    </div>
    <div class="relative mt-4 md:mt-0">
      <%= link_to 'Women' , store_path(:gender => 'women'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300" %>
      <div class="flex flex-wrap content-center relative">
        <%= link_to image_tag("https://st2.myideasoft.com/shop/du/42/myassets/products/684/death-note-03-siyah-kadin-oversize-tshirt-tisort-443209-jpg.jpeg?revision=1654140983", :class => "w-[600px]"), store_path(:gender => 'women') %>
      </div>
    </div>
  </div>

</section>

<div class="parallax h-36 sm:h-48 md:h-56 xl:h-96 bg-fixed bg-center bg-no-repeat bg-cover bg-[url('https://img.freepik.com/premium-photo/attractive-girl-resting-riverbank-near-forest-spring-warm-day-relaxing-nature-weekend-girl-jeans-clothes-sitting-near-lake-park-nature-concept-fashion-photoshoot-horizontal_120962-1843.jpg?w=2000')]"></div>


<section id="about">
  <div id="contact" class="bg-gradient-to-r from-black to-gray-500 h-auto flex justify-between items-center mx-auto grid lg:grid-cols-2 pt-8 lg:pt-0">
    <div>
      <div class="text-center">
        <h1 class="text-7xl font-bold text-white">Norecture</h1>
      </div>
    </div>
    <div class="p-16 text-center text-white">
      <h1 class="text-2xl mb-6">About Us</h1>
      <p class="px-14">
        Norecture is a brand that was established in 2022 and produces products for its customers without sacrificing quality. Our vision is to combine fashion and quality. Our brand, which was established for this purpose, continues to design and produce new
        products every day.
      </p>
      <br /><br />
      <h1 class="text-2xl mb-6">Contact</h1>
      <p class="px-14">
        Tel: 05434497929 <br /> Address: Norecture Comp. <br /> 132, My Street, <br /> Kingston, New York 12401 <br /> United States
      </p>
    </div>
  </div>
</section>

<footer class="text-center w-full mt-8 bottom-0 left-0">
  <p class="text-black opacity-75 italic mb-6">© Norecture- 2022</p>
</footer>