

<%= render 'layouts/shared/navbar'%>

  <section>
    <% unless has_params? %>
      <div class="grid md:grid-cols-2 flex justify-items-center px-16 mt-8 mb-16" >
        <div class="relative">
          <%= link_to 'Men' , store_path(:gender => 'men'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300"  %>
            <div class="flex flex-wrap content-center relative">
              <%= link_to image_tag("https://beyyoglu.akinoncdn.com/products/2022/01/27/28830/e846532b-2d09-4214-a1e8-58e89af8fccb_size826x1222.jpg", :class => "w-[600px]"), store_path(:gender => 'men') %>
            </div>
        </div>
        <div class="relative mt-4 md:mt-0">
          <%= link_to 'Women' , store_path(:gender => 'women'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300" %>
            <div class="flex flex-wrap content-center relative">
              <%= link_to image_tag("https://st2.myideasoft.com/shop/du/42/myassets/products/684/death-note-03-siyah-kadin-oversize-tshirt-tisort-443209-jpg.jpeg?revision=1654140983", :class => "w-[600px]"), store_path(:gender => 'women')%>
            </div>
        </div>
      </div>
    <% end %>

    <div id="products" class=" lg:mx-16 lg:flex-row flex justify-between lg:items-start items-center mt-16 mb-6 flex-col ">
      <aside class="lg:mt-6 w-full lg:w-64 items-center justify-center flex lg:flex-col  mb-16 lg:mb-0" aria-label="Sidebar">
          <div class="hidden lg:flex">
          <br>
          <hr>
          <br>
            <ul>
              <li>
                <%= link_to 'Men', store_path(gender: 'men'), class: "flex items-center p-2  w-32 text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'Women', store_path(gender: 'women'), class: "flex items-center p-2  w-32 text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
            </ul>
          </div>
            <!--
          <br>
          <hr>
          <br>
          <div>
            <ul>
              <li>
                <%= link_to 'Black', store_path(color: 'Black'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'Green', store_path(color: 'Green'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
            </ul>
          </div> -->
          
          <div>
          <br>
          <hr>
          <br>
            <ul>
              <li>
                <%= link_to 'Product Type 1', store_path(product_type: 'Product-type-1'), class: "flex items-center p-2 w-32 text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'Product Type 2', store_path(product_type: 'Product-type-2'), class: "flex items-center p-2 w-32 text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
            </ul>
          </div>
        
          <!--
          <hr>
          <br>
          <div>
            <ul>
              <li>
                <%= link_to 'descending price', store_path(descending_price: true), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'ascending price', store_path(ascending_price: true), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'less than 125$', store_path(less_than_price: 125), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black"%>
              </li>
              <li>
                <%= link_to '125-150$', store_path(price_range: [125,150]), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black"%>
              </li>
              <li>
                <%= link_to '150-200$', store_path(price_range: [150,200]), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
              <li>
                <%= link_to 'more than 200$', store_path(more_than_price: 200), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-600 rounded-lg transition duration-75 group hover:bg-gray-100 hover:text-black "%>
              </li>
            </ul>
          </div>
          -->

      </aside>

      <div class="min-w-full grid grid-cols-1 lg:grid-cols-3 space-x-6 px-6 md:px-16 lg:pr-36">
        <%= render @products %>
      </div>
    </div>


    <p class="text-xl font-bold flex justify-center mb-14">See More Products</p>
  </section>

<%= render 'layouts/shared/about'%>

<footer class="text-center w-full mt-8 bottom-0 left-0">
  <p class="text-black opacity-75 italic mb-6">© Norecture- 2022</p>
</footer>f