<header id="home" class="sticky top-0 z-50">
  <div class="bg-white h-auto flex justify-center items-center mx-auto flex-col ">
    <div class="bg-white w-full ">
      <nav class="border-gray-200 px-2 sm:px-4 py-2.5 ">
        <div class="container flex flex-wrap justify-between items-center mx-auto ">
          <div class="animate-pulse flex flex-row ">
            <h3 class="text-2xl font-medium text-black">
              <%= link_to 'Norecture', store_path%>
            </h3>
            <p>Store</p>
          </div>

          <div class="flex lg:order-2">

            <%= search_form_for @q,class: "hidden md:flex items-center justify-between text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0", url: 'store' do |f| %>

              <label for="simple-search" class="sr-only">Search</label>
              <div class="relative w-full">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <%= f.search_field :name_cont ,class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" , placeholder: "Search", id:"simple-search"%>
              </div>
              <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
              </button>
            <% end %>




            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">

              <li>
                <%= link_to 'Men', store_path(:gender => 'men'), class:"block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" %>
              </li>
              <li>
                <%= link_to 'Women', store_path(:gender => 'women'), class:"block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" %>
              </li>
              <li>
                <a href="#contact" class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Best Seller</a>
              </li>
              <li>
                <a href="#about" class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">About</a>
              </li>
              <li class="block md:hidden">
                <%= search_form_for @q,class: "flex items-center justify-between text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0", url: 'store' do |f| %>
                  <label for="simple-search" class="sr-only">Search</label>
                  <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <%= f.search_field :name_cont ,class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" , placeholder: "Search", id:"simple-search"%>
                  </div>
                  <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    <span class="sr-only">Search</span>
                  </button>
                <% end %>

              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>



<section>
  <div id="default-carousel" class="relative w-full h-auto mt-0" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 md:h-[400px] lg:h-[500px] xl:h-screen">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <span class="absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800">First Slide</span
                    >
        <%= image_tag("https://vegadergi.com.tr/wp-content/uploads/2022/01/Gucci-e1642493982929.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
      </div>
      <!-- Item 2 -->

      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <%= image_tag("https://www.kampustenevar.com/upload/ALISVERI_-_Varolus_Hikayesi__Gucci_64269.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>

      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <%= image_tag("https://media.gq.com/photos/5f7b495f42eaff594a28939a/master/pass/1-gucci-gets-into-the-resale-game-with-the-real-real-gq-october-2020.jpg", :class => "absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>

      </div>
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"
      ></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                ></path>
              </svg>
              <span class="sr-only">Previous</span>
                    </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span
              class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
              <span class="sr-only">Next</span>
            </span>
    </button>
  </div>
</section>

<section id="products">
  <div class="grid md:grid-cols-2 flex justify-items-center px-16 mt-8 mb-16">
    <div class="relative">
      <a
        href=""
        class="absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300"
      >
        <p class="font-medium">Norecture</p>
        <h1 class="tracking-wider text-7xl font-medium">MAN</h1>
      </a>
      <a class="relative">
        <div class="flex flex-wrap content-center">
          <%= link_to image_tag("https://beyyoglu.akinoncdn.com/products/2022/01/27/28830/e846532b-2d09-4214-a1e8-58e89af8fccb_size826x1222.jpg", :class => "w-[600px]"), store_path %>
        </div>
      </a>
    </div>
    <div class="relative mt-4 md:mt-0">
      <a href="store.html" class="absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300">
        <p class="font-medium">Norecture</p>
        <h1 class="tracking-wider text-7xl font-medium">WOMAN</h1>
      </a>
      <a href="" class="relative">
        <div class="flex flex-wrap content-center">
          <%= link_to image_tag("https://st2.myideasoft.com/shop/du/42/myassets/products/684/death-note-03-siyah-kadin-oversize-tshirt-tisort-443209-jpg.jpeg?revision=1654140983", :class => "w-[600px]"), store_path %>
        </div>
      </a>
    </div>
  </div>

  <div id="products" class="min-w-full grid grid-cols-1 md:grid-cols-3 space-x-6 px-8 mt-16 mb-6 mx-auto">
    <%= render @products %>
  </div>

  <p class="text-xl font-bold flex justify-center mb-14">See More Products</p>

</section>

<section id="about">
  <div id="contact" class="bg-gradient-to-r from-black to-gray-500 h-auto flex justify-between items-center mx-auto grid lg:grid-cols-2 pt-8 lg:pt-0">
    <div>
      <div class="text-center">
        <h1 class="text-7xl font-bold text-white">Norecture</h1>
      </div>
    </div>
    <div class="p-16 text-center text-white">
      <h1 class="text-2xl mb-6">About Us</h1>
      <p class="px-14">
        Norecture is a brand that was established in 2022 and produces products for its customers without sacrificing quality. Our vision is to combine fashion and quality. Our brand, which was established for this purpose, continues to design and produce new
        products every day.
      </p>
      <br /><br />
      <h1 class="text-2xl mb-6">Contact</h1>
      <p class="px-14">
        Tel: 05434497929 <br /> Address: Norecture Comp. <br> 132, My Street, <br> Kingston, New York 12401 <br> United States
      </p>
    </div>
  </div>
</section>

<footer class="text-center w-full mt-8 bottom-0 left-0">
  <p class="text-black opacity-75 italic mb-6">© Norecture- 2022</p>
</footer>