<header id="home" class="sticky top-0 z-50">
  <div class="bg-white h-auto flex justify-center items-center mx-auto flex-col ">
    <div class="bg-white w-full ">
      <nav class="border-gray-200 px-2 sm:px-4 py-2.5 ">
        <div class="container flex flex-wrap justify-between items-center mx-auto ">
          <div class="animate-pulse flex flex-row ">
            <h3 class="text-2xl font-medium text-black">
              <%= link_to 'Norecture', store_path%>
            </h3>
            <p>Store</p>
          </div>

          <div class="flex lg:order-2">
            <%= form_tag store_path, method: :get, class:"hidden md:flex" do %>
              <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
              <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <%= text_field_tag :contains , params[:contains], placeholder: "Ürün Ara...", class:"block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
                <%= submit_tag 'Ara', class:"text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
              </div>

            <% end %>

            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-cta" data-controller="scroll-page-with-element">
            <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">

              <li>
                <%= link_to 'Men', store_path(:gender => 'men'), class:"block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" %>
              </li>
              <li>
                <%= link_to 'Women', store_path(:gender => 'women'), class:"block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0" %>
              </li>
              <li>
                <button data-action="click->scroll-page-with-element#scrollToElement"
                        data-scroll-page-with-element-id-param="products"
                        class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Best Seller</button>
              </li>
              <li>
                <button data-action="click->scroll-page-with-element#scrollToElement"
                        data-scroll-page-with-element-id-param="about"
                        class="block py-2 pr-4 pl-3 text-gray-800 rounded hover:bg-sky-900 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">About</button>
              </li>
              <li class="block md:hidden">
                <%= form_tag store_path, method: :get do %>
                  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                  <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    </div>
                    <%= text_field_tag :contains , params[:contains], placeholder: "Ürün Ara...", class:"block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
                    <%= submit_tag 'Ara', class:"text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                  </div>

                <% end %>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
</header>


<!-- Stimulus ile hidden yap ve geri gelme tuşuna basıldığında turbo visit ile store page'e replace at -->

  <section>
    <% unless has_gender? %>
      <div class="grid md:grid-cols-2 flex justify-items-center px-16 mt-8 mb-16">
        <div class="relative">
          <%= link_to 'Men' , store_path(:gender => 'men'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300"  %>
            <div class="flex flex-wrap content-center relative">
              <%= link_to image_tag("https://beyyoglu.akinoncdn.com/products/2022/01/27/28830/e846532b-2d09-4214-a1e8-58e89af8fccb_size826x1222.jpg", :class => "w-[600px]"), store_path(:gender => 'men') %>
            </div>
        </div>
        <div class="relative mt-4 md:mt-0">
          <%= link_to 'Women' , store_path(:gender => 'women'),class:"text-3xl font-medium absolute inset-0 z-10 bg-white text-center flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300" %>
            <div class="flex flex-wrap content-center relative">
              <%= link_to image_tag("https://st2.myideasoft.com/shop/du/42/myassets/products/684/death-note-03-siyah-kadin-oversize-tshirt-tisort-443209-jpg.jpeg?revision=1654140983", :class => "w-[600px]"), store_path(:gender => 'women')%>
            </div>
        </div>
      </div>
    <% end %>

    <div id="products" class="container mx-auto flex justify-between items-start mt-16 mb-6">

      <aside class="w-64" aria-label="Sidebar">
        <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
          <ul class="space-y-2">
            <li>
              <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-1" data-collapse-toggle="dropdown-1">
                <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item="">Gender</span>
                <svg sidebar-toggle-item="" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <ul id="dropdown-1" class="hidden py-2 space-y-2">
                <li>
                  <%= link_to 'Men', store_path(gender: 'men'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'Women', store_path(gender: 'women'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-2" data-collapse-toggle="dropdown-2">
                <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item="">Color</span>
                <svg sidebar-toggle-item="" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <ul id="dropdown-2" class="hidden py-2 space-y-2">
                <li>
                  <%= link_to 'Black', store_path(color: 'Black'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'Green', store_path(color: 'Green'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-3" data-collapse-toggle="dropdown-3">
                <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item="">Product Type</span>
                <svg sidebar-toggle-item="" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <ul id="dropdown-3" class="hidden py-2 space-y-2">
                <li>
                  <%= link_to 'Product Type 1', store_path(product_type: 'Product-type-1'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'Product Type 2', store_path(product_type: 'Product-type-2'), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
              </ul>
            </li>
            <li>
              <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-4" data-collapse-toggle="dropdown-4">
                <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item="">Price </span>
                <svg sidebar-toggle-item="" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <ul id="dropdown-4" class="hidden py-2 space-y-2">
                <li>
                  <%= link_to 'descending price', store_path(descending_price: true), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'ascending price', store_path(ascending_price: true), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'less than 125$', store_path(less_than_price: 125), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to '125-150$', store_path(price_range: [125,150]), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to '150-200$', store_path(price_range: [150,200]), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
                <li>
                  <%= link_to 'more than 200$', store_path(more_than_price: 200), class: "flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"%>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
      <div class="min-w-full grid grid-cols-1 md:grid-cols-3 space-x-6 px-8">
        <%= render @products %>
      </div>
    </div>


    <p class="text-xl font-bold flex justify-center mb-14">See More Products</p>
  </section>
<section>
  <div id="about" class="bg-gradient-to-r from-black to-gray-500 h-auto flex justify-between items-center mx-auto grid lg:grid-cols-2 pt-8 lg:pt-0">
    <div>
      <div class="text-center">
        <h1 class="text-7xl font-bold text-white">Norecture</h1>
      </div>
    </div>
    <div class="p-16 text-center text-white">
      <h1 class="text-2xl mb-6">About Us</h1>
      <p class="px-14">
        Norecture is a brand that was established in 2022 and produces products for its customers without sacrificing quality. Our vision is to combine fashion and quality. Our brand, which was established for this purpose, continues to design and produce new
        products every day.
      </p>
      <br /><br />
      <h1 class="text-2xl mb-6">Contact</h1>
      <p class="px-14">
        Tel: 05434497929 <br /> Address: Norecture Comp. <br> 132, My Street, <br> Kingston, New York 12401 <br> United States
      </p>
    </div>
  </div>
</section>

<footer class="text-center w-full mt-8 bottom-0 left-0">
  <p class="text-black opacity-75 italic mb-6">© Norecture- 2022</p>
</footer>